h1 {
    color: yellow;
    background-color: green;
    text-align: center;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.container{
    margin: auto;
    width: 25%;
    padding: 10px;
    border: 1px solid #f2f2f2;
}